* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#game-container {
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hole {
  background-image: url(./hole.png);
  width: 220px;
  height: 120px;
  background-position: center;
  background-size: cover;
}

#game {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  gap: 20px;
}

.moles {
  background-image: url(./mole.png);
  height: 110px;
  width: 100px;
  margin-left: 63px;
  background-repeat: no-repeat;
}
.start {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 20px;
}
.restart {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 20px;
}
#start:hover {
  border: 5px solid red;
  height: 50px;
  width: 170px;
}
#restart:hover {
  border: 5px solid red;
  height: 50px;
  width: 170px;
}
.tomdiv {
  position: absolute;
  bottom: 100px;
  left: 880px;
  gap: 50px;
}
.games {
  position: absolute;
  top: 570px;
  left: 790px;
}
#st {
  border: solid 5px black;
  height: 150px;
  width: 250px;
  border-radius: 30px;
}
#score {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 33px;
}
.stop {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 20px;
}
#stop:hover {
  border: 5px solid red;
  height: 50px;
  width: 170px;
}
