* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#game-container {
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hole {
  background-image: url(./hole.png);
  width: 220px;
  height: 120px;
  background-position: center;
  background-size: cover;
}
.start {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 20px;
}
.restart {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 20px;
}
#start:hover {
  border: 5px solid red;
  height: 50px;
  width: 170px;
}
#restart:hover {
  border: 5px solid red;
  height: 50px;
  width: 170px;
}
.tomdiv {
  position: absolute;
  padding-top: 1050px;
  padding-left: 950px;
  gap: 50px;
}

#game {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  gap: 20px;
}
.games {
  position: absolute;
  padding-top: 600px;
  padding-left: 790px;
}
.moles {
  background-image: url(./mole.png);
  height: 110px;
  width: 100px;
  margin-left: 63px;
  background-repeat: no-repeat;
}
